body {
    background-color: lightseagreen;
    color: white;
}
html{
    margin: 0;
    padding: 0;
}

hr {
    /*Line set for blog*/
    border: 2px solid black;
}

.my-border {
    border: dashed 5px white;
}

.text-fix {
    /*Used to format the titles */
    text-align: center;
    font-weight: bold;
    font-size: 380%;
}

.card-link{
    font-size: 0.9rem;
    text-decoration: none;
}
.card-link :hover{
    color: lightseagreen !important;
}


.navbar li a {
    color: white;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.navbar li a:hover {
    color: #000000 !important;
    background-color: #fff !important;
}

ul .navbar-nav {
    margin-right: 100px;
}

.card {
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card img {
    max-width: 300px;
}

.bg-1 {
    /*background color of the mi-card*/
    background-color: lightseagreen;
}

.mi-card-set {
    /*used to set up the mi-card*/
    width: 85%;
    border: 4px solid white;
}

.mi-title-text {
    color: black;
}

.blog-img {
    /*Settings needed for blog image */
    width: 50%;
    height: 50%;
}

.team-links{
    color: white;
}
.team-links:hover{
    color: rgb(38, 128, 123);
}

h1 {
    font-family: 'Share Tech', sans-serif;
}

h2{
    font-family: 'Share Tech', sans-serif;

}

h3{
    font-family: 'Share Tech', sans-serif;
}

h4{
    font-family: 'Share Tech', sans-serif;
}

a, a:hover, a:link, a:visited, a:active{
    font-family: 'Share Tech', sans-serif;
    text-decoration: none;
}

p {
    font-size: 1.7em;
}